.time-selector-number-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #f7f7f7;
  font-weight: 600;
  font-size: 13px;
  background-color: inherit;
  color: #4a4a4a;
  float:left;
  box-shadow: 1px 1px 5px #4a4a4a;
  font-size: 18px;
  text-align: center;
}
.time-selector-number-button:focus {
  outline: none;
  border-style: none;
}
.time-selector-number-button:hover, .time-selector-number-button:active, .time-selector-number-button.selected {
  background-color: #9a9699;
  border-color: #9a9699;
  color: #fff;
}
