.workplace{
	padding: 15px;
	margin-top: 10px;
	background-color: white;
	clear: both;
	height: auto;
}
.workplace-review{
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 3px;
	background-color: 'white';
}
.workplace-details{
	margin-top: -15px;
	font-size: 10px;
}
.working-hours{
	font-size: 12px;
}
.workplace  h4 {
	color: #0D30A1 !important;
	font-size: 12px !important;
}
