/*
  To Do: Later merge this style with team-member-card.css
*/

.last_name {
	color: #000000;
	font-weight: 400;
	font-family: 'RobotoCondensed-Regular';
}

.first_name{
	color: #000000;
	font-weight: 400;
	font-family: 'RobotoCondensed-Regular';
}

.card_body{
	color: #000000;
	font-weight: 400;
	font-family: 'Lato-Regular';
}
