.shift-modal-day-cell-direction {
  display: inline-block;
}
.shift-modal-day-cell-direction .shift-modal-day-cell-direction-button {
  margin: 0 9px;

  width: 35px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  color: #423a3f;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 5px;

}
.shift-modal-day-cell-direction .shift-modal-day-cell-direction-button:hover, .shift-modal-day-cell-direction .shift-modal-day-cell-direction-button:active, .shift-modal-day-cell-direction .shift-modal-day-cell-direction-button.selected {
  background-color: #9a9699;
  border-color: #9a9699;
  color: #fff;
}
.shift-modal-day-cell-direction .shift-modal-day-cell-direction-button:focus {
  outline: none;
}
