.positions .positions-content .position-add-button .btn-circle-wrapper {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

.positions .grid-actions {
  vertical-align: middle;
  text-align: center !important;
}

.icon-circle-td {
  height: 56px;
  width: 56px;
  border: 1px solid #979797;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 52px;
}

.icon-circle-td img.ui.image {
  margin: 0 auto;
  display: inline-block;
  width: 28px;
}

.positions .positions-icon-column {
  width: 60px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.positions table td p {
  margin: 0 auto;
  padding: 0;
}

.positions table td {
  vertical-align: middle;
  text-align: center !important;
}

.positions table td:nth-child(2) {
  text-align: left !important;
}

.positions table td:last-child {
  text-align: right !important;
}

.positions table td h6 {
  color: #4A4A4A;
  font-family: 'RobotoCondensed-Regular';
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto;
}

.positions table td p {
  color: #4A4A4A;
  font-family: 'Lato-Regular';
  font-size: 14px;
}

.positions table td span {
  color: rgba(74, 74, 74, 0.75);
  font-family: 'Lato-Regular';
  font-size: 12px;
}

.positions table td.positions-icon-column-red h6,
.positions table td.positions-icon-column-red span {
  color: #E33821;
}
