.avatar-first-name{
	font-size: 16px;
	line-height: 18px;
	text-transform: capitalize;
	color: #4A4A4A;
	font-family: 'RobotoCondensed-Regular';
	font-weight: 900;
}

.avatar-last-name{
	font-size: 16px;
	line-height: 18px;
	text-transform: capitalize;
	color: #4A4A4A;
	font-family: 'RobotoCondensed-Regular';
	font-weight: 100;
}

.avatar-inline .avatar-title{
	float: left;
	margin-top: -34px;
	margin-left: 40px;
}
.avatar-verticle{
	text-align: center;
	max-width: 80px;
}
