.header {
  padding: 10px;
  width: 100% !important;
}

.dropdown-box {
  color: red;
}

.ui.vertical.menu .item.menu-item:before {
  background: #999999 !important;
}

.ui.vertical.menu .item.menu-item-footer:before {
  background: none;
}

.left-menu_item .ui.vertical.menu.fluid {
  border-right: 1px solid #979797;
  background-color: #253858;
}

.header select {
  padding: 10px 10px !important;
  background: url("/images/dropdown-arrow-white.png") no-repeat 97% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  outline-width: 0;
  padding: 13px 22px 13px 22px;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  color: #4A4A4A;
  font-family: 'RobotoCondensed-Regular';
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align-last: center;
  background-size: 12px;
}

.left-menu_item .header select {
  color: #FFFFFF;
  font-size: 18px;
  background-color: #172B4D;
}

.ui.vertical.menu .item .menu .item .menu_item_left span {
  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 18px;
  line-height: 30px;
}

.ui.vertical.menu .item .menu .item i {
  display: inline-block;
  vertical-align: middle;
  width: 12%;
  margin-right: 7%;
  text-align: center;
}

.ui.vertical.menu .item .menu .item i img {
  margin: 0 auto;
}

.ui.vertical.menu .item .menu .item .menu_item_left {
  display: inline-block;
  vertical-align: middle;
  width: 81%;
}

.ui.vertical.menu .item .menu .item .menu_item_left i{
  margin-right: 0;
  width: auto;
  border-radius: 4px;
  background-color: #E33821;
  color: #fff;
  font-family: 'RobotoCondensed-Regular';
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  padding: 5px 8px;
  font-style: normal;
  float: right;
  margin-top: 2px;
}

.menu-item-footer .menu-item-list i {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.menu-item-footer .menu-item-list .menu_item_left {
  display: inline-block;
  vertical-align: middle;
}

.left-menu_item .ui.vertical.menu .item.menu-item-footer {
  background-color: #253858;
}

.left-menu_item {
  height: 100vh;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
}

.left-menu-fixed {
  height: calc(100% - 375px);
  overflow-y: auto;
}

.left-head-menu-logo {
  height: 300px;
}

.left-menu_item .vertical.menu {
  height: 100%;
}

.ui.vertical.menu .item.menu-item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1px 2px;
  background: #fff;
  padding: 0;
  height: 74px;
}

.menu-item-footer .menu-item-list span {
  color: #ffffff;
  font-family: 'RobotoCondensed-Regular';
  font-size: 20px;
  line-height: 15px;
}

.menu-item-footer .menu-item-list i {
  display: inline-block;
  vertical-align: middle;
  width: 12%;
  margin-right: 7%;
  text-align: center;
}

.menu-item-footer .menu-item-list .menu_item_left {
  display: inline-block;
}

.ui.vertical.menu .item.menu-item .item {
  margin-bottom: 15px;
}

.ui.vertical.menu .item .dropdown-menu-item {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.ui.vertical.menu .item.menu-item .menu .item:hover{

  background: #90a2c1;
  cursor: pointer;
  color: #e33821;

}
.ui.vertical.menu .item.menu-item .menu .item.active {
  background: #90a2c1;
  cursor: pointer;
}

.ui.vertical.menu .item.menu-item .menu .item.active .menu_item_left span {
  color: #E33821;
  font-weight: normal;
}

.ui.vertical.menu .menu-item-footer .menu-item-list:hover {
  background: #90a2c1;
  cursor: pointer;
}

.left-menu_item .ui.vertical.menu .item > .header:not(.ui) {
  margin: 0 0 1.5em;
}
