.settings .add-workplace-drawer-section .inline-form.form-inline .form-group {
    width: 33.33%;
    padding: 0 10px;
}

.settings .add-workplace-drawer-section .inline-form.form-inline .form-group:first-child {
    padding-left: 0;
}

.settings .add-workplace-drawer-section .inline-form.form-inline .form-group:last-child {
    padding-right: 0;
}

.settings .add-workplace-drawer-section .form-div .form-group label {
                       display: block;
}

.settings .add-workplace-drawer-section .form-div .form-group input,
.settings .drawer-section .form-div .form-group select {
    width: 100%;
    height: 45px;
}

.settings .drawer-section .upload-wrapper {
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.settings .upload-img {
    margin: 0 auto;
}

.settings .upload-desc {
    margin-top: 10px;
    color: #4A4A4A;
}
