._first-name {
    color: #2F2F2F !important;
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    font-weight: bold !important;
}

._last-name {
    color: #2F2F2F !important;
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    font-weight: 100 !important;
}

.card_body{
	color: #000000;
	font-weight: 400;
	font-family: 'Lato-Regular';
}

.profile-card{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
