.member-card {
	border-radius: 3px;
	box-shadow: 2px 2px 5px #555;
	max-width: 33%;
	text-align: center;
}
.profile-picture{
	max-width: 80px;
	margin: 0 auto;
	text-align: center;
	margin-top: -40px;
	background-color: #fff;
}