.rbc-calendar *, .rbc-calendar *:before, .rbc-calendar *:after {
    box-sizing: inherit;
    table-layout: fixed;}
.p1{
    padding: 10px !important;
}
.atable th
{   text-transform: uppercase;
    height: 18px;
    width: 135px;
    color: #4A4A4A;
    font-family: "Roboto Condensed";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
}
.atable .dayname{
    height: 90px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    font-size: inherit;
}
.atable .long{
    width: 190px !important;
}
.atable .penalheading{
    text-transform: uppercase;
    height: 21px;
    width: 97px;
    color: #4A4A4A;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}
.atable .penalheading p{
    color: #4A4A4A;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 200;
    line-height: 21px;
}
.atable td{
    vertical-align: top;
    height: 105px !important;
}
.atable .spday td{
    height: 30px !important;
    font-weight: 600;
    text-transform: capitalize;
}
.btnnav{
    padding: 10px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.m8{
    margin: 8px;
}
.mr5{
    margin-right: 5px;
}
.maintitle{
    display: inline-block;
    text-transform: uppercase;
    margin: 10px auto;
    height: 30px;
    width: 55%;
    color: #666666;
    font-family: "Roboto Condensed";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.day-item{
    box-sizing: border-box;
    width: 132px;
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: rgba(153,153,153,0.1);
    box-shadow: 0 4px 4px 0 #999999;
    padding: 2px 2px;
    margin-bottom: 6px;
    margin-left: -6px;
}
.day-item-title a.glyphicon.glyphicon-plus{
    height: 21.21px;
    width: 21.21px;
    color: #5f5f5a;
    transform: rotate(405deg);
}

.day-item .day-item-title{
    margin-bottom: 6px;
}
.day-item .day-item-title span{
    margin-right: 1px;
}
.day-item .day-item-title p{
    float: right;
    height: 22px;
    width: 33px;
    color: #4A4A4A;
    font-family: "Avenir Next Condensed";
    font-size: 10px;
    line-height: 011px;
    margin-top: 4px;
}
.day-item .start-time {
    display: inline-flex;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    line-height: 0px;
    margin-bottom: 6px;
    height:35px;
}
.start-time p {
    height: 18px;
    width: 97px;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 20px;
    line-height: 18px;
}

.start-time p small {
    font-size: 70%;
}
.start-time span.fa.fa-clock-o {
    margin-top: 3px;
    margin-right: 3px;
}
.day-item .location {
    text-transform: uppercase;
    display: flex;
    color: #4A4A4A;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 2px;
}
.day-item .location a{
    font-size: 14px;
    color: #4A4A4A;
}
.location p {
    padding-left: 4px;
    text-transform: uppercase;
    color:#4A4A4A;
    font-family: "Roboto Condensed";
}
.day-item-title .box-title {
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 500;
    text-align: center;
}
.day-item-title .openshift{
    background-color: #E33821;
}
.day-item-title .pendingshift{
    background-color: #FFAD33;
}
.day-item-title .filledshift{
    background-color: #00A863;
}
.day-item-title .duration {
    display: inline-block;
    height: 22px;
    width: 30px;
    color: #4A4A4A;
    font-family: "Avenir Next Condensed";
    font-size: 11px;
    line-height: 11px;
    float: right;
    margin: 0;
    padding: 0;
}
