.btn-circle-wrapper {
  display: inline-block;
  margin: 15px 5px;
}

.btn-circle-wrapper img {
  margin: 0 auto;
}

.btn-circle-wrapper img.img-icon.small {
  height: 46px;
  width: 46px;
}

.btn-circle-wrapper p {
  font-size: 16px;
  word-wrap: break-word;
  width: 110px;
  font-family: Lato;
  font-weight: light;
}

.btn-circle-center {
  text-align: center;
}
