.scheduling-date-controls-container.mdl-grid {
  padding: 0;
}
.scheduling-date-controls-container .time-displays {
  margin-left: 20px;
  line-height: 14px;
  padding-top: 2px;
}
.scheduling-date-controls-container .time-displays .date-range {
  color: #fff;
  font-size: 16px;
  margin-bottom: 1px;
}
.scheduling-date-controls-container .time-displays .current-time {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
