.floatRight {
  float: right
}

.floatLeft {
  float: left;
}

.firstName {
    height: 28px;
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bolder;
    line-height: 24px;
}

.lastName {
    height: 28px;
    color: #666666;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: lighter;
    line-height: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.popup {
  max-width: 700px;
  border-radius: 5px;
  background-color: #fcfcfc;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popupHeader {
  background-color: #06299E;
  padding: 2px 10px 15px 10px;
}

.popupHeader h2 {
  color: white !important;
  text-transform: uppercase !important;
  margin-top: 15px !important;
  font-weight: lighter !important;
}

.popupHeader i {
  color: white !important;
}

.shiftDetailRow {
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.teamMemberCard {
  display: flex;
  margin-bottom: 10px;
}

.teamMemberCard > .edits {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  text-align: left;
}

.teamMemberCard > .avatar {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  text-align: left;
}

.teamMemberCard .description {
  font-size: .7em;
  color: #ccc;
}

.teamMemberCard.option {
  margin-bottom: 0;
}

.member-list .teamMemberOption.option .label b,
.member-list .teamMemberOption.option .label span {
  color: #666666;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.member-list .teamMemberOption.option .label b {
  font-weight: bold;
}

.member-list .teamMemberOption.option .label .description {
  font-size: 18px;
}

.teamMemberCard .ui.dropdown .menu > .item.team-member-item {
  margin: 0;
  padding: 0 0 2px 10px !important;
}

.greenBorder {
  border: 2px solid #00A863;
}

.redBorder {
  border: 2px solid #E33821;
}

.orangeBorder {
  border: 2px solid #FFAD33;
}

.shiftDetails {
  padding: 20px 20px 20px 32px;
  font-size: 13px !important;
  margin-top: 10px;
}

.dimmedText {
  color: #ccc;
  font-size: 12px;
}

.teamMemberCard {
  display: flex;
  margin-bottom: 10px;
}

.teamMemberCard > .edits {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  text-align: left;
}

.teamMemberCard > .avatar {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  text-align: left;
}

.teamMemberCard .description {
  font-size: .7em;
  color: #ccc;
}

.drawer-section .drawer-heading {
  background-color: '#0022A1';
  text-align: center;
  padding: 10px;
}

.drawer-section .drawer-heading .confirm-popup {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 28px !important;
  font-weight: lighter;
  line-height: 28px !important;
  text-align: center;
  width: auto;
  display: inline-block;
  margin-top: 10px !important;
}

.drawer-right {
  float: right;
  padding-top: 0px;
  margin-right: 1px;
}

.drawer-section .drawer-content.scroll-div {
  display: block;
  overflow-y: scroll;
  height: calc(100vh - 240px);
  width: 100%;
}

.shift-details-header{
  display: table;
  margin-left: 0px;
  padding-bottom: 10px;
}

.shift-heading {
  display: table;
  margin-left: 32px;
  padding-bottom: 10px;
}

.shift-heading img, .shift-details .shift-heading h5 {
  display: table-cell;
}

.shift-details .shift-heading h5 {
  margin-left: 10px;
  vertical-align: middle;
}

.member-list, .shift-details {
  float: left;
  width: 100%;
  margin-top: 5px !important;
  margin-left: 0px;
}

.member-list h5, .shift-details h5 {
  color: #666666;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  margin-left: 34px;
  letter-spacing: 0.5px;
}

.shift-details .ui.fluid.input {
  padding: 0 32px 20px 32px;
}

.shift-details .ui.fluid.input input {
  border: 2px solid rgba(74, 74, 74, 0.5);
  padding: 15px 10px;
}

.shift-details .ui.fluid.input input::placeholder {
  color: #999999;
}

.shiftDetails p {
  font-size: 22px;
  color: #666666;
  margin-bottom: 5px;
}

.shiftDetails p b {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 22px;
}

.shiftDetails p span {
  font-family: "Lato";
  font-weight: lighter;
  font-size: 22px;
}

.dimmedText {
  text-transform: uppercase;
  color: #999;
  font-family: "Lato";
  font-weight: lighter;
  font-size: 19px !important;
  padding-left: 0px !important;
}

.btn-member {
  margin-top: 15px;
  margin-left: 32px;
}

.member-list .ui.fluid.dropdown {
  position: relative;
}

.member-list .teamMemberCard .label {
  color: #666666;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
}

.member-list .teamMemberCard .description {
  color: #999999;
  font-family: Lato;
  font-size: 15px;
  line-height: 15px;
}

.member-list .teamMemberCard .avatar {
  width: 47px;
  border-radius: 50%;
  height: 47px;
  overflow: hidden;
  display: inline-block;
}

.member-list .teamMemberCard .avatar img {
  width: auto;
  height: 100%;
}

.member-list .ui.dropdown.dropdown-team .menu {
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.member-list .content {
  position: relative;
  padding: 5px 5px;
  border-radius: 4px;
  width: 100%;
  text-transform: uppercase;
}

.member-list .ui.fluid.dropdown .icon {
  float: none;
  position: absolute;
  top: 50%;
  right: 10px;
  opacity: 1;
  transform: translate(-50%, -50%);
}

i.icon.dropdown-img-black {
  height: 24px;
  background: url('/assets/Icons/dropdown-icon-black.png') no-repeat;
}

.member-list img.select-dropdown-img {
  border-radius: 50%;
}

.member-list .menu .item {
  margin-bottom: 5px;
}

.member-list .teamMemberCard .edits {
  align-self: center;
}

.drawer-section .drawer-head h2 {
  width: auto !important;
  display: inline-block;
  margin-top: 0 !important;
  color: #0022A1;
  font-family: "Roboto Condensed";
  font-size: 30px !important;
  line-height: 35px;
  text-align: center;
  font-weight: normal;
}

.drawer-section .drawer-head button {
  float: left;
}

.drawer-section .drawer-head {
  background-color: #F7F7F7;
}

.drawer-section .drawer-head button span {
  color: #E33821;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.drawer-section .drawer-head button i {
  font-size: 22px;
  color: #E33821;
}

.drawer-section table.structured th:first-child {
  width: 30px;
}

.drawer-section table.structured th:nth-child(2) {
  width: 155px;

}

.drawer-section table.structured th {
  width: 100%;
  text-align: center !important;
}

.drawer-section table.structured td {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.drawer-section table.structured td .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
}

.drawer-section table.structured td .avatar img {
  width: auto;
  height: 100%;
}

.drawer-section table.structured td .label {
  color: #4A4A4A;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
}

/*History table*/
.drawer-section .history-drawer-content {
  padding: 0px;
}

h2.ui.header {
  text-transform: uppercase;
}

.drawer-content .history-table thead th {
  text-transform: uppercase !important;
  color: #4A4A4A !important;
}

.drawer-section table.structured td.shiftDetailRow {
  text-align: left;
  padding: 15px 45px;
}

.drawer-section table.structured td.shiftDetailRow p {
  text-transform: uppercase;
  color: #4A4A4A;
  font-size: 18px;
}

.drawer-section table.structured td.shiftDetailRow .item {
  color: #4a4a4a;
  font-size: 16px;
}

i.chevron.up.icon, i.chevron.down.icon {
  color: #0022A1;
}

.hide-details {
  display: none;
  transform-origin: top;
}

.show-details {
  display: table-row;
  animation: anim 0.5s ease-in-out;
}

.rbc-calendar .shift-section .row:before {
  display: none;
}

.shift-section .ui.dropdown > .text {
  font-size: 14px;
}

@keyframes anim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
