/* Drawers */
*::placeholder {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.shift-section .drawer-heading {
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
  background-color: #2200a1;
}

.shift-section .drawer-heading button.pull-left {
  box-shadow: 1px 2px 3px #000;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.shift-section .drawer-heading button.advance-options {
  background: transparent;
  border: 2px solid #e33821;
  color: #ffffff;
  text-transform: uppercase;
}

.shift-section .drawer-heading h2 {
  display: inline-block;
  margin: 10px 0;
  color: #FFFFFF;
}

.shift-section .drawer-section label {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

.shift-section .drawer-section label.blue-heading {
  color: #2200a1;
}

.shift-section .drawer-section .time-wrapper,
.shift-section .drawer-section .date-wrapper {
  display: inline-block;
  width: 50%;
}

.shift-section .drawer-section .time-wrapper .time-picker {
  width: auto;
}

.shift-section .drawer-section .time-wrapper .time-picker .info {
  display: none;
}

.shift-section .time-selector-display {
  width: 95%;
  position: absolute;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.shift-section .time-actions-wrapper {
  background: #ffffff;
  padding: 0 10px;
}

.shift-section .time-wrapper .time-picker-container .columns li:hover:not(.id):not(.disabled) {
  background-color: rgba(0, 34, 161, 0.75);
}

.shift-section .time-wrapper .time-picker-container .columns li.active {
  background-color: rgba(0, 34, 161, 0.9);
}

.shift-section .time-selector-wrapper .label-wrapper,
.shift-section .date-selector-wrapper .label-wrapper {
  border: 1px solid #CCCCCC;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  height: 38px;
  display: flex;
  flex-direction: row;
}

.shift-section .time-selector-wrapper .label-wrapper {
  margin-bottom: 2px;
}

.shift-section .time-selector-wrapper .label-wrapper p,
.shift-section .date-selector-wrapper .label-wrapper p {
  display: inline-block;
  margin-bottom: 0;
  width: 50%;
}

.shift-section .time-selector-wrapper .label-wrapper p input {
  border: 0 none;
  padding: 0;
  width: 100%;
}

.shift-section .end-date .choose-btn, .shift-section .end-date .never-btn {
  padding: 0;
}

.shift-section .time-selector-wrapper .date-wrapper .start-date {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 5px 20px 5px 5px;
  margin-right: 20px;
  position: relative;
}

.shift-section .time-selector-wrapper .date-wrapper .start-date .clock-font {
  right: 5px;
  position: absolute;
  top: 8px;
}

.shift-section .time-selector-wrapper .date-wrapper .or-text {
  padding: 0 35px;
}

.shift-section .time-selector-wrapper .label-wrapper p:first-child,
.shift-section .date-selector-wrapper .label-wrapper p:first-child {
  float: left;
}

.shift-section .date-selector-wrapper .label-wrapper p:last-child {
  float: right;
}

.shift-section .time-selector-wrapper .label-wrapper p:last-child {
  position: absolute;
  right: 25px;
  width: auto;
}

.shift-section .date-selector-wrapper .label-wrapper p:nth-child(2) {
  width: 50%;
  text-align: right;
  padding-right: 10px;
}

.shift-section .date-selector-display {
  background: #ffffff;
  position: absolute;
  z-index: 9;
  box-shadow: 0 3px 10px 0 rgb(128, 128, 128);
}

.shift-section .date-selector-display.end-date-selector {
  margin-right: 15px;
  margin-top: 5px;
  width: 47.5%;
  padding: 0 15px;
}

.shift-section .date-selector-display.end-date-selector .or-btn {
  position: relative;
  color: #e33821;
  margin-bottom: 2px;
}

.shift-section .date-selector-display.end-date-selector .or-btn:before ,
.shift-section .date-selector-display.end-date-selector .or-btn:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 40%;
  background: #cecece;
  top: 10px;
}

.shift-section .date-selector-display.end-date-selector .or-btn:before {
  left: 0;
}

.shift-section .date-selector-display.end-date-selector .or-btn:after {
  right: 0;
}

.shift-section .date-selector-display.end-date-selector .never-icon {
  font-size: 22px;
}

.shift-section .time-selector-wrapper .columns .id {
  display: none;
}

.shift-section .time-selector-wrapper .time-picker-container .columns li {
  text-align: left;
}

.edit-drawer-section .edit-drawer-content .two.wide.column {
  display: table !important;
}

.edit-drawer-section .edit-drawer-content img.ui {
  margin: 0 auto;
}

/* Spacing between day selector buttons */
.edit-drawer-section .edit-drawer-content .shift-modal-day-cell .shift-modal-day-cell-button {
  margin: 0 5px;
}

.edit-drawer-section .edit-drawer-content .day-selector {
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.edit-drawer-section .edit-drawer-content .ui.input.extra-min {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px !important;
  vertical-align: top;
}

.edit-drawer-section .edit-drawer-content .ui.input.extra-min input {
  padding: 10px;
}

.edit-drawer-section .edit-drawer-content .alert-danger {
  background: rgba(255, 118, 118, 0.4);
  color: #e33238;
  border-bottom: 2px solid #ff7676 !important;
  padding: 10px;
  border: 0 none;
}

.edit-drawer-content .tag-dropdown .ui.label {
  background: #e33821;
  color: #ffffff;
  text-transform: uppercase;
}

.edit-drawer-content .tag-dropdown .ui.label > .close.icon,
.edit-drawer-content .tag-dropdown .ui.label > .delete.icon {
  opacity: 1;
}

.edit-drawer-content .tag-dropdown .ui.multiple.search.dropdown > input {
  text-transform: uppercase;
}
