.day-selector .shift-modal-day-cell {
  display: inline-block;
  margin-right: 6px;
}

.day-selector .shift-modal-day-cell:last-child {
  margin-right: 0;
}

.day-selector .shift-modal-day-cell .shift-modal-day-cell-button {
    margin: 5px 5px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    color: #4A4A4A;
    font-weight: 100;
    font-size: 16px;
    font-family: Lato;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    letter-spacing: -1px;
    padding-top:10px;
    padding-bottom:10px;
    line-height: 25px;
}
.shift-modal-day-cell .shift-modal-day-cell-button:hover, .shift-modal-day-cell .shift-modal-day-cell-button:active, .shift-modal-day-cell .shift-modal-day-cell-button.selected {
  background-color: #0022A1;
  border-color: #0022A1;
  color: #fff;
}
.shift-modal-day-cell .shift-modal-day-cell-button:focus {
  outline: none;
}
